<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Express movies</title>
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <%- include('partials/header.ejs') %>

  <body>
    <h1>Movie details</h1>
    <p><%= id %></p>
  </body>
  <%- include('partials/footer.ejs') %>
</html>